@use "../../styles/Variables.scss" as *;
.textButton {
  background-color: $background-1;
  color: $surface-3;
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 0px;

  &__label {
    font-size: $p3;
  }
  &:hover {
    border-bottom: 2px solid $surface-3;
  }
  &__selected {
    border-bottom: 2px solid $surface-3;
  }
}

@media (min-width: $breakpoint-tablet) {
  .textButton {
    &__label {
      font-size: $p2;
      font-weight: bold;
    }
  }
}
