@use "./Variables.scss" as *;
:root {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  font-weight: 400;

  color: #2b2b2b;
  background-color: #242424;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

p {
  margin: 0px;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
header {
  width: 100%;
}
footer {
  margin-top: auto;
  width: 100%;
}

@media (min-width: $breakpoint-tablet) {
  main {
    width: $breakpoint-tablet;
  }
}
