@use "../../styles/Variables.scss" as *;
.tempMiniCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 8px;
  gap: 8px;
  background-color: $surface;
  font-size: $p3;
  text-align: center;
  &--selected {
    background-color: $background-1;
    color: $surface-3;
  }

  &__timeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 10px;
    background-color: $surface-3;
    width: 35px;
    border: 1px solid $surface-2;
  }
  &__temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
  &__sunIcon {
    width: 20px;
    height: 20px;
  }
  &__rainWind {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 4px;
  }

  &__rainWindIcon {
    width: 14px;
    height: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__sunLabel {
    width: 33px;
    height: 16px;
    font-weight: bold;
    text-align: center;
  }
}

@media (min-width: $breakpoint-tablet) {
  .tempMiniCard {
    font-size: $p2;
    &__sunIcon {
      width: 36px;
      height: 36px;
    }
    &__rainWindLabel {
      text-align: center;
    }
  }
}

// @media (min-width: $breakpoint-desktop) {
//   .tempMiniCard {
//     font-size: $p1;
//     &__sunIcon {
//       width: 48px;
//       height: 48px;
//     }
//     &__rainWindLabel {
//       text-align: center;
//     }
//   }
// }
