.tempMiniCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 4px;
  gap: 8px;
  background-color: var(--surface);
  font-size: var(--p3);

  &__timeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 10px;
    background-color: var(--surface-3);
    width: 35px;
    border: 1px solid var(--surface-2);
  }
  &__temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
  &__sunIcon {
    width: 20px;
    height: 20px;
  }
  &__rainWind {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 4px;
  }

  &__rainWindIcon {
    width: 14px;
    height: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__sunLabel {
    width: 33px;
    height: 16px;
    font-weight: bold;
    text-align: center;
  }
}
