.searchBar {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 4px;
  &__field {
    background-color: var(--background-1);
    border-radius: 4px;
    border: 0px;
    width: 140px;
    padding: 0px 10px;
    height: 24px;
    color: var(--surface-3);
    &::placeholder {
      color: var(--surface-3);
    }
  }
  &__icon {
    position: absolute;
    right: 10px;
    height: 16px;
    width: 16px;
  }
}
