@use "../../styles/Variables.scss" as *;
.navbar {
  background-color: $navBackground;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  gap: 13px;
  height: 56px;
  &__label {
    font-size: $p3;
    color: $surface-3;
    text-decoration: underline;
    margin: 0;
    &:hover {
      cursor: pointer;
      color: $surface-2;
    }
  }
  &__logo {
    height: 32px;
    width: 40px;
  }
}

@media (min-width: $breakpoint-tablet) {
  .navbar {
    gap: 40px;
    justify-content: unset;
    justify-content: center;
    &__label {
      font-size: $p2;
    }
  }
}

// @media (min-width: $breakpoint-desktop) {
//   .navbar {
//     gap: 40px;
//     justify-content: unset;
//     justify-content: center;
//   }
// }
