.navbar {
  background-color: var(--navBackground);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 6px 20px;
  gap: 13px;
  height: 56px;
  &__label {
    font-size: var(--p3);
    color: var(--surface-3);
    margin: 0;
  }
  &__logo {
    height: 32px;
    width: 40px;
  }
}
