.tempCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 8px;
  background: linear-gradient(90deg, #83c9f4 46.35%, #ffffff 100%);
  margin: 12px 20px;
  padding: 20px 8px;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: var(--surface-2);
  &__title {
    font-size: var(--p2);
    font-weight: bold;
  }
  &__mainSection {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  }
  &__leftSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
  }
  &__time_label {
    font-size: var(--p2);
  }
  &__date_label {
    font-size: var(--p3);
  }
  &__temp_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
  }
  &__temp_label {
    font-size: 48px;
  }
  &__tempUnit_label {
    font-size: var(--p3);
  }

  &__rightSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
  }

  &__subSection_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 65px;
    padding: 0px;
    gap: 12px;
  }

  &__subInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 4px;
  }

  &__subIcon {
    width: 20px;
    height: 20px;
  }
  &__Icon {
    width: 64px;
    height: 64px;
  }
}
