@use "../../styles/Variables.scss" as *;
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
  gap: 24px;
  background-color: $navBackground;
  color: $surface-3;
  &__apiLink {
    text-decoration: none;
    &:visited {
      color: $surface-3;
    }
    &_label {
      font-size: $p3;
    }
  }
}

.logo {
  width: 38.54px;
  height: 32px;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 4px;
  &__text {
    font-size: $p3;
  }
  &__imgLinkContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
  }
  &__iconLink {
    width: 16px;
    height: 16px;
  }
}

@media (min-width: $breakpoint-tablet) {
  .logo {
    width: 57px;
    height: 48px;
  }

  .socials {
    &__iconLink {
      width: 20px;
      height: 20px;
    }
  }

  .footer {
    padding: 20px 0px;
  }
}
